<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" href="../../css/grid.css" />
	</head>
	<body>
		<div class="grid-format">
			<img
				src="https://plus.unsplash.com/premium_photo-1682147474777-90dc55cdbc67?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
			<img
				src="https://images.unsplash.com/photo-1511289081-d06dda19034d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
			<img
				src="https://images.unsplash.com/photo-1602918955248-d1bbfcbfae38?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
			<img
				src="https://images.unsplash.com/photo-1511268594014-0e9d3ea5c33e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
			<img
				src="https://images.unsplash.com/photo-1632260260864-caf7fde5ec36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
			<img
				src="https://images.unsplash.com/photo-1601860301761-f1f059bb4c1f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
		</div>
		<div class="grid">
			<img
				src="https://plus.unsplash.com/premium_photo-1682147474777-90dc55cdbc67?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
			<img
				src="https://images.unsplash.com/photo-1511289081-d06dda19034d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
			<img
				src="https://images.unsplash.com/photo-1602918955248-d1bbfcbfae38?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
			<img
				src="https://images.unsplash.com/photo-1511268594014-0e9d3ea5c33e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
			<img
				src="https://images.unsplash.com/photo-1632260260864-caf7fde5ec36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
			<img
				src="https://images.unsplash.com/photo-1601860301761-f1f059bb4c1f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
				alt=""
                class="grid--item"
			/>
		</div>
	</body>
</html>
