<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" href="../../css/skew.css" />
	</head>
	<body>
		<div class="nav">
			<div class="nav__header">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
				magni voluptatem quidem nulla reiciendis. Voluptas aperiam ipsa
				debitis eius excepturi.
			</div>
			<div class="content">
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Mollitia dolorem numquam inventore aperiam quisquam accusantium
				esse beatae. Repudiandae, incidunt quibusdam.
			</div>
		</div>
	</body>
</html>
