.text-gradient {
	display: inline-block;
	padding: 1rem 2rem;
	font-size: 3rem;
	text-transform: uppercase;
	background-image: linear-gradient(
		to right,
		rgb(248, 214, 121),
		rgb(172, 72, 185)
	);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	border: 1px solid rgb(184, 166, 166);
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	border-radius: 0.5rem;
	/* background-image: linear-gradient(to right bottom, #00eafd, #ffa400);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text; */
}

.buttons {
	display: flex;
	/* text-align: center; */
}

.button {
	padding: 1rem 2rem;
	margin: 2rem;
	font-size: 1rem;
	text-transform: uppercase;
	background-color: aqua;
	color: white;
	border-radius: 5px;
	margin: 1rem auto;
}

.button:first-child {
	background-image: linear-gradient(
		to right,
		rgb(171, 239, 241),
		rgb(67, 129, 245)
	);
}

.button:nth-of-type(2) {
	background-image: linear-gradient(
		to right,
		rgb(241, 205, 171),
		rgb(247, 163, 54)
	);
}

.button:nth-last-of-type(2) {
	background-image: linear-gradient(
		to right bottom,
		rgb(156, 176, 243),
		rgb(29, 88, 248)
	);
}
.button:last-child {
	background-image: linear-gradient(
		to right bottom,
		rgb(243, 156, 210),
		rgb(230, 48, 247)
	);
}
