p {
	color: aliceblue;
	display: none;
}
.wrap {
	width: 100vw;
	height: 500rem;
	background-color: black;
	position: relative;
}

/* .boxed2 {
	width: 3rem;
	height: 3rem;
	position: absolute;
	background-color: red;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

/*  */
.boxed2 {
	position: absolute;
	bottom: 0;
	/* left: 0; */
	/* right: 0; */
	width: 100%;
	height: 4rem;
	background-color: rgb(248, 14, 14);
}

.header {
	position: fixed;
	height: 3rem;
	width: 100%;
	background-color: rgb(32, 28, 248);
	top: 0;
	left: 0;
	z-index: 4;
}
