body {
  background-image: linear-gradient(to right, rgb(235, 226, 226), rgb(165, 153, 153));
  width: 100vw;
  min-height: 100vh;
  padding: 3rem;
}

.signup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 2rem;
  background-color: #f3f7ff;
  border-radius: 10px;
}
.signup__content, .signup__image {
  width: calc(50% - 2rem);
}
.signup__heading {
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: rgb(73, 10, 247);
}
.signup__caption {
  color: rgb(255, 1, 1);
  font-weight: bold;
  position: relative;
  padding-left: 4rem;
  margin-bottom: 2rem;
}
.signup__caption::before {
  content: "";
  top: 50%;
  left: 0;
  position: absolute;
  transform: translateY(-50%);
  width: 3rem;
  height: 2px;
  background-color: red;
}
.signup-social {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.signup-social__item {
  width: calc(50% - 1rem);
  height: calc(50% - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 6rem;
  padding: 1.5rem 2.5rem;
  border: 1px solid #eee;
  cursor: pointer;
  color: #291667;
  border-radius: 6px;
}
.signup-social__item i {
  margin-right: 1rem;
}
.signup-form {
  color: #291667;
}
.signup-form__label {
  margin-bottom: 1rem;
  display: inline-block;
  transform: translateX(1rem);
  cursor: pointer;
}
.signup-form__input {
  display: block;
  padding: 1.5rem 2rem;
  border-radius: 6px;
  background-color: #eee;
  border: 1px solid #fafbff;
  outline: none;
  width: 100%;
  transition: all 0.25s linear;
}
.signup-form__input:focus {
  border-color: #fa4c53;
}
.signup-form__input:focus + .signup-form__check {
  background-color: #fa4c53;
}
.signup-form__validate {
  position: relative;
}
.signup-form__validate input {
  padding-right: 5rem;
}
.signup-form__check {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  transition: all 0.25s linear;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #eee;
  border-radius: 8px;
  color: white;
  padding-left: 2px;
}
.signup-form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}
.signup-form__row .signup-form__group {
  width: calc(50% - 1.5rem);
  margin-bottom: 2rem;
}
.signup-form__term {
  margin-top: 2rem;
}
.signup-form__term input {
  display: none;
}
.signup-form__term input:checked + label::before {
  background-color: #fa4c53;
  border-width: 0;
}
.signup-form__term input:checked + label::after {
  opacity: 1;
  visibility: visible;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}
.signup-form__term label {
  position: relative;
  padding-left: 3rem;
  cursor: pointer;
}
.signup-form__term label::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0;
  background-color: #eee;
  border-radius: 2px;
}
.signup-form__term label::after {
  content: "";
  width: 1.6rem;
  height: 0.8rem;
  position: absolute;
  top: 20%;
  left: 1px;
  transform: rotate(-45deg);
  opacity: 0;
  visibility: hidden;
}
.signup-form__submit {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
  background-color: #fa4c53;
  color: #eee;
  border-width: 0;
  box-shadow: 0 10px 10px 0 rgba(250, 76, 83, 0.4);
}
.signup__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.signup__already {
  color: #291667;
}
.signup__already a {
  color: #fa4c53;
}

@media screen and (max-width: 1439px) {
  .signup__content {
    width: calc(60% - 1rem);
  }
  .signup__image {
    width: calc(40% - 1rem);
  }
}
@media screen and (max-width: 1279px) {
  .signup__content {
    width: 100%;
  }
  .signup__image {
    display: none;
  }
}
@media screen and (max-width: 729px) {
  body {
    padding: 1rem;
  }
  .signup {
    padding: 1rem;
  }
  .signup-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .signup-social__item {
    width: 100%;
    margin-bottom: 1rem;
    border-color: #b2a0ec;
  }
  .signup-form__row {
    flex-direction: column;
  }
  .signup-form__row .signup-form__group {
    width: 100%;
  }
}

/*# sourceMappingURL=signin-form.css.map */
