.dropdown {
	width: 20rem;
	position: relative;
	margin: 2rem auto;
	position: relative;
	&-select {
		color: white;
		background-color: #3b5efd;
		padding: 1rem;
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&-text {
		margin-left: 2rem;
	}

	&-caret {
		margin-left: auto;
	}

	&-item {
		padding: 1rem;
		display: flex;
		align-items: center;
		cursor: pointer;

		&:not(:last-child) {
			border-bottom: 1px solid gray;
		}

		border-left: 3px solid transparent;

		&:hover {
			border-left-color: #3b5efd;
		}
	}

	&-list {
		border-radius: 4px;
		box-shadow: 0 0 10px 0 gray;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		margin-top: 1rem;
		background-color: #fff;
		// display: none;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s linear;
		// z-index: -2;

		&:before {
			content: "";
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid rgb(255, 255, 255);
			position: absolute;
			width: 0;
			height: 0;
			top: 0;
			transform: translateY(-100%);
			right: 2rem;
		}

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 3rem;
			top: 0;
			left: 0;
			// background-color: #3b5efd;
			transform: translateY(-100%);
		}
	}
	&:hover {
		.dropdown-list {
			// display: block;
			opacity: 1;
			visibility: visible;
		}
	}
}
