<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<ul class="not-span">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
				officiis adipisci eaque dolorem aut quae eveniet pariatur
				tempore minima explicabo!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
				officiis adipisci eaque dolorem aut quae eveniet pariatur
				tempore minima explicabo!
			</p>
			<li class="item1">1</li>
			<li class="item2">2</li>
			<li class="item3">3</li>
			<li class="item4">4</li>
			<li class="item5">5</li>
			<li class="item6">6</li>
			<li class="item7">7</li>
			<li class="item8">8</li>
			<li class="item9">9</li>
			<li class="item10">10</li>
		</ul>

		<ul class="child-span">
			<li>
				<span
					>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					Perferendis iure cumque molestias facere, nesciunt qui non
					eius labore similique consequuntur ipsa blanditiis assumenda
					voluptatem illum distinctio nisi laboriosam odio cupiditate.
					Eligendi optio ipsum repellendus error? Iure iusto quia esse
					hic voluptate placeat, ipsum blanditiis temporibus ipsa
					explicabo labore rerum sit.
				</span>
			</li>
			<li>
				<span
					>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					Sequi dolores amet sint voluptatum porro rem optio est
					eaque, vero facilis dolore adipisci iure pariatur sunt iste
					quod ullam ducimus error ex quo facere! Doloremque libero,
					magni provident quia reiciendis tempora!</span
				>
			</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<h3 class="combinator">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum,
			asperiores.
		</h3>
		<h4 class="title">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio,
			explicabo.
		</h4>
		<h5 class="title2">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, ut!
		</h5>

		<!-- CSS nâng cao -->
		<a href="http://google.com">http://google.com</a>
		<a href="www.google.vn">www.google.vn</a>
		<a href="https://facebook.us">"https://facebook.us</a>
		<p class="first-letter">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, magni?
		</p>
		<p class="first-line">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, magni?
		</p>

		<!-- Transition -->
		<div class="boxed">Transition</div>

		<!--  -->
	</body>
</html>
