<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href=".././css/reset.css" />
	</head>
	<body>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni,
			debitis repellat ipsa ipsam amet perspiciatis doloribus placeat
			excepturi corrupti recusandae veniam adipisci aliquam? Voluptas in
			voluptates sit excepturi illum aliquam est soluta ipsa, libero vel
			explicabo accusantium laudantium exercitationem nostrum? Esse
			repudiandae deserunt ea mollitia aperiam, suscipit nulla
			perspiciatis inventore nisi facere ex quae laboriosam unde sit.
			Explicabo sit blanditiis eligendi harum neque voluptate impedit
			eaque, excepturi, quis enim error amet incidunt mollitia optio nisi,
			accusamus atque aliquid cum fugiat eveniet sunt doloremque
			assumenda? Eligendi, sapiente accusantium non ex repellat voluptates
			totam veritatis nam molestiae quibusdam libero similique. Magni
			tenetur a incidunt facere ex, nihil ratione iusto tempore minima
			voluptatem perferendis illum autem sint. Fugit amet numquam
			inventore fuga, illum iste ea facere eveniet laborum accusantium?
			Nobis fuga impedit ipsum? Temporibus dolor similique beatae fugiat
			qui, perferendis fuga adipisci, eligendi eaque, delectus rerum in
			magni ipsa! Placeat maxime voluptatibus laboriosam et adipisci ullam
			officia aspernatur quisquam. Accusamus fugit atque maxime voluptate
			maiores dolores adipisci soluta, culpa eos quis non magnam ducimus
			ab, voluptatum repellendus doloribus vero, tempore numquam
			dignissimos facere modi exercitationem mollitia quas nihil. Voluptas
			dolores debitis ex! Repellat magnam eaque saepe error incidunt
			adipisci delectus laborum exercitationem unde.
		</p>
	</body>
</html>
