<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@400;500&display=swap"
			rel="stylesheet"
		/>
		<title>Document</title>
		<link rel="stylesheet" href="../../css/bt3.css" />
	</head>
	<body>
		<div class="text-gradient">Text</div>
		<!-- Buttons -->
		<div class="buttons">
			<div class="button button--primary">Success</div>
			<div class="button button--secondary">secondary</div>
			<div class="button button--save">save</div>
			<div class="button button--warring">warring</div>
		</div>
	</body>
</html>
