<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../css/chapter4.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="boxed"></div>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel velit
			minus, incidunt ratione repudiandae necessitatibus eum numquam
			consequuntur, distinctio accusantium at magni sunt deleniti optio,
			iste id provident. Laboriosam recusandae quibusdam fugit inventore
			voluptate cupiditate quam ex laudantium. Dolor, amet. Magni eos
			cupiditate suscipit libero id assumenda ducimus, asperiores illum
		</p>
	</body>
</html>
