<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>
		<link rel="stylesheet" href="../../css/psuedo_before_after.css" />
	</head>
	<body>
		<div class="title">
			<span>Huynh Thanh Duyen</span>
		</div>
		<br />
		<br />
		<br />
		<!-- Light text -->
		<div class="line-text">
			<span class="content">Huynh Thanh Duyen</span>
		</div>

		<!-- Example 3: Icon before & after -->
		<div class="icon">
			<i class="fa fa-user icon-user"></i>
		</div>

		<!-- Effect -->
		<div class="button"><span>Effect</span></div>

		<!-- Animation -->
		<div class="box-animation"></div>

		<!-- Loading animation -->
		<div class="loading-fade"></div>

		<!-- Animation cicles loading-->
		<div class="cicles-loading">
			<div class="cicle"></div>
			<div class="cicle"></div>
		</div>
	</body>
</html>
