<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="../css/style.css" />
		<title>Document</title>
	</head>
	<body>
		<!-- Flash -->
		<div class="Flash">
			<h3 class="Flash__title Flash__title--primary">Primary flash</h3>
			<div class="Flash__desc Flash__desc--primary">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
				modi aliquid laboriosam, animi unde odio consectetur sequi cum
				vitae accusantium!
			</div>
			<button class="Flash__button Flash__button--primary">
				Primary
			</button>
		</div>
		<!-- End Flash -->

		<!-- Dropdown -->
		<div class="Dropdown">
			<div class="Dropdown__selected">Hello</div>
			<i class="fa-solid fa-caret-down"></i>
			<div class="Dropdown__list">
				<div class="Dropdown__item">
					<span class="Dropdown__title">One</span>
					<i class="fa-solid fa-plus Dropdown__itemIcon"></i>
				</div>
				<div class="Dropdown__item">
					<span class="Dropdown__title">Two</span>
					<i class="fa-solid fa-plus Dropdown__itemIcon"></i>
				</div>
				<div class="Dropdown__item">
					<span class="Dropdown__title">Three</span>
					<i class="fa-solid fa-plus Dropdown__itemIcon"></i>
				</div>
			</div>
		</div>
		<!-- End Dropdown -->
	</body>
</html>
