<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="stylesheet" href="style.css"> -->

		<title>Document</title>
	</head>
	<body>
		<ul>
			<li>item1</li>
			<li>item2</li>
			<li>item3</li>
			<li>item4</li>
			<li>item5</li>
			<li>item6</li>
			<li>item7</li>
			<li>item8</li>
			<li>item9</li>
			<li>item10</li>
		</ul>

		<h1 class="title"></h1>
		<p class="desc"></p>
		<div class="demo">
			<p class="text"></p>
			<p class="text2"></p>
		</div>
		<div class="job"></div>
	</body>
</html>
