<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" href="../../css/card-author.css" />
	</head>
	<body>
		<div class="author">
			<img
				src="https://images.unsplash.com/photo-1682685795557-976f03aca7b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80"
				alt="no image"
				class="author__image"
			/>
			<div class="author__content">
				<h3 class="author__name">Huynh Thanh Duyen</h3>
				<p class="author__desc">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.
					Repudiandae quisquam vitae recusandae ex fuga voluptatum ut
					consectetur magnam. Sit, molestiae. Quasi, incidunt quas?
					Eveniet ullam aliquid quam quidem consectetur alias ut
					exercitationem harum, voluptatibus omnis, perspiciatis cum
					facere rem nostrum praesentium obcaecati blanditiis vero?
					Minima, provident ullam? Ipsum, eligendi veritatis! Lorem
					ipsum dolor sit amet, consectetur adipisicing elit.
					Exercitationem aliquam nostrum velit, alias temporibus ipsa
					fugiat. Et neque vitae consectetur?
				</p>
				<div class="author__contact">
					contact me:
					<div class="author-social2">
						<i class="fa fa-play author-social__item"></i>
						<i class="fa-brands fa-youtube author-social__item"></i>
						<i class="fab fa-twitter author-social__item"></i>
					</div>
					<div class="author-social"></div>
				</div>
			</div>
		</div>
	</body>
</html>
