<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		/>
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" href="../../css/dropdown.css" />
	</head>
	<body>
		<div class="dropdown">
			<div class="dropdown-select">
				<i class="fa fa-file dropdown-icon"></i>
				<span class="dropdown-text">File type</span>
				<i class="fa fa-caret-down dropdown-caret"></i>
			</div>
			<ul class="dropdown-list">
				<li class="dropdown-item">
					<i class="fa fa-file dropdown-icon"></i
					><span class="dropdown-text">HTML</span>
				</li>
				<li class="dropdown-item">
					<i class="fa fa-edit dropdown-icon"></i
					><span class="dropdown-text">CSS</span>
				</li>
				<li class="dropdown-item">
					<i class="fa fa-trash dropdown-icon"></i
					><span class="dropdown-text">JS</span>
				</li>
				<li class="dropdown-item">
					<i class="fa fa-save dropdown-icon"></i
					><span class="dropdown-text">SCSS</span>
				</li>
			</ul>
		</div>
	</body>
</html>
