<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../../css/first-sass.css" />
	</head>
	<body>
		<div class="header">
			<div class="header-left">
				<ul>
					<li class="home">Home</li>
					<li class="workflow">Workflow</li>
				</ul>
			</div>
			<div class="header-right">
				<ul>
					<li class="setting"></li>
					<li class="logout"></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="boxing"></div>
		</div>
	</body>
</html>
