<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" href="../../css/post-list.css" />
	</head>
	<body>
		<div class="post">
			<div class="post__list">
				<div class="post__item">
					<img
						src="https://images.unsplash.com/photo-1689089376934-9a0b8a6b7fd5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMzk2fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=700&q=60"
						alt="image 1"
						class="post__image"
						loading="lazy"
					/>
					<div class="post__content">
						<h3 class="post__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Obcaecati, debitis! Lorem ipsum dolor sit,
							amet consectetur adipisicing elit. Sed, quam.
						</h3>
						<img
							src="https://images.unsplash.com/photo-1594167154836-838be958f605?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMzk5fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=700&q=60"
							alt="author"
							class="post__author"
						/>
					</div>
				</div>
				<div class="post__item">
					<img
						src="https://images.unsplash.com/photo-1689089376934-9a0b8a6b7fd5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMzk2fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=700&q=60"
						alt="image 1"
						class="post__image"
						loading="lazy"
					/>
					<div class="post__content">
						<h3 class="post__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Obcaecati, debitis!
						</h3>
						<img
							src="https://images.unsplash.com/photo-1594167154836-838be958f605?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMzk5fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=700&q=60"
							alt="author"
							class="post__author"
						/>
					</div>
				</div>
				<div class="post__item">
					<img
						src="https://images.unsplash.com/photo-1689089376934-9a0b8a6b7fd5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMzk2fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=700&q=60"
						alt="image 1"
						class="post__image"
						loading="lazy"
					/>
					<div class="post__content">
						<h3 class="post__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Obcaecati, debitis!
						</h3>
						<img
							src="https://images.unsplash.com/photo-1594167154836-838be958f605?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMzk5fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=700&q=60"
							alt="author"
							class="post__author"
						/>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
