<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/post-flex-nang-cao.css" />
	</head>
	<body>
		<div class="post">
			<!-- post__left -->
			<div class="post__left">
				<div class="post__media">
					<img
						src="https://images.unsplash.com/photo-1691676112160-53cddd988388?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=600&q=60"
						alt=""
						class="post__image"
					/>
					<span class="post__cate">Lifestyle</span>
					<span><li class="fa fa-home post__icon"></li></span>
				</div>
				<div class="post-author">
					<img
						src="https://images.unsplash.com/photo-1691573478405-25c5600feeaa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=600&q=60"
						alt=""
						class="post-author__avarar"
					/>
					<span class="post-author__name">Thanh Duyen Huynh</span>
					<span class="post__date">13 Argust 2023</span>
				</div>
				<h3 class="post__title">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.
					Tempore, vero?
				</h3>
				<p class="post__desc">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
					porro est atque veritatis quidem corrupti placeat veniam
					esse voluptates voluptatem.
				</p>
			</div>
			<!-- end post left -->

			<!-- post right -->
			<div class="post__right">
				<div class="post__list">
					<div class="post__item">
						<a href="#" class="post__image post__image-small">
							<img
								src="https://images.unsplash.com/photo-1511268594014-0e9d3ea5c33e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=700&q=60"
								alt=""
								class="post__image post__image-small"
							/>
						</a>
						<div class="post__content">
							<div class="post__title post__title-small">
								<a href="#" class="post__link"
									>Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Voluptatum, laborum?</a
								>
							</div>
							<span class="post__date">13 Argust 2023</span>
						</div>
					</div>
					<div class="post__item">
						<a href="#" class="post__image post__image-small">
							<img
								src="https://images.unsplash.com/photo-1511268594014-0e9d3ea5c33e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=700&q=60"
								alt=""
								class="post__image post__image-small"
							/>
						</a>
						<div class="post__content">
							<div class="post__title post__title-small">
								<a href="#" class="post__link"
									>Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Voluptatum, laborum?</a
								>
							</div>
							<span class="post__date">13 Argust 2023</span>
						</div>
					</div>
					<div class="post__item">
						<a href="#" class="post__image post__image-small">
							<img
								src="https://images.unsplash.com/photo-1511268594014-0e9d3ea5c33e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=700&q=60"
								alt=""
								class="post__image post__image-small"
							/>
						</a>
						<div class="post__content">
							<div class="post__title post__title-small">
								<a href="#" class="post__link"
									>Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Voluptatum, laborum?</a
								>
							</div>
							<span class="post__date">13 Argust 2023</span>
						</div>
					</div>
					<div class="post__item">
						<a href="#" class="post__image post__image-small">
							<img
								src="https://images.unsplash.com/photo-1511268594014-0e9d3ea5c33e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zmxhc2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=700&q=60"
								alt=""
								class="post__image post__image-small"
							/>
						</a>
						<div class="post__content">
							<div class="post__title post__title-small">
								<a href="#" class="post__link"
									>Lorem, ipsum dolor sit amet consectetur
									adipisicing elit. Voluptatum, laborum?</a
								>
							</div>
							<span class="post__date">13 Argust 2023</span>
						</div>
					</div>
				</div>
			</div>
			<!-- end post right -->
		</div>
	</body>
</html>
